.customer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 16px;
}

.member-table-container {
  margin: 20px auto;
  width: calc(100% - 85px) !important;
  max-width: 1400px;
}

.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}


.search-field {
  width: 302px;
  height: 40px;
  top: -10px;
  border-color: #FFB755;
}

.link {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
