<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soop.pages.customerservice.model.dao.CustomerServiceMapper">
    <resultMap id="NoticeResultMap" type="com.soop.pages.customerservice.model.dto.NoticeMemberDTO">
        <id property="noticeCode" column="NOTICE_CODE"/>
        <result property="category" column="CATEGORY"/>
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="userCode" column="USER_CODE"/>
        <result property="regDate" column="REG_DATE"/>
        <association property="memberDTO" javaType="com.soop.pages.customerservice.model.dto.MemberDTO">
            <id property="userCode" column="USER_CODE"/>
            <result property="nickname" column="NICKNAME"/>
        </association>
    </resultMap>

    <select id="csMainNoticeListAll" resultMap="NoticeResultMap">
        SELECT
               A.NOTICE_CODE,
               A.CATEGORY,
               A.TITLE,
               A.CONTENT,
               A.USER_CODE,
               A.REG_DATE,
               B.USER_CODE,
               B.NICKNAME
          FROM NOTICE A
          LEFT JOIN LINKBEE_USER B ON A.USER_CODE = B.USER_CODE
         ORDER BY REG_DATE
         LIMIT 0, 5
    </select>

    <select id="noticeListAll" resultMap="NoticeResultMap">
        SELECT
               A.NOTICE_CODE,
               A.CATEGORY,
               A.TITLE,
               A.CONTENT,
               A.USER_CODE,
               A.REG_DATE,
               B.USER_CODE,
               B.NICKNAME
          FROM NOTICE A
          LEFT JOIN LINKBEE_USER B ON A.USER_CODE = B.USER_CODE
         ORDER BY REG_DATE
    </select>
</mapper>