<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soop.jwtsecurity.mapper.UserMapper">

    <resultMap id="user" type="com.soop.jwtsecurity.entityDTO.UserEntity">
        <id property="userCode" column="USER_CODE"/>
        <result property="nickName" column="NICKNAME"/>
        <result property="email" column="EMAIL"/>
        <result property="gender" column="GENDER"/>
        <result property="profilePic" column="PROFILE_PIC"/>
        <result property="aboutMe" column="ABOUTME"/>
        <result property="userRole" column="USER_ROLE"/>
        <result property="signupDate" column="SIGNUP_DATE"/>
        <result property="signupPlatform" column="SIGNUP_PLATFORM"/>
    </resultMap>

    <resultMap id="refresh" type="com.soop.jwtsecurity.entityDTO.RefreshEntity">
        <id property="userCode" column="USER_CODE"/>
        <result property="signupPlatform" column="SIGNUP_PLATFORM"/>
        <result property="refresh" column="REFRESH"/>
        <result property="expiration" column="EXPIRATION"/>
    </resultMap>

    <select id="findBySignupPlatform" resultMap="user">
        select
            USER_CODE,
            NICKNAME,
            EMAIL,
            GENDER,
            PROFILE_PIC,
            ABOUTME,
            USER_ROLE,
            SIGNUP_DATE,
            SIGNUP_PLATFORM
        from LINKBEE_USER
        where SIGNUP_PLATFORM = #{signupPlatform}

    </select>

<!--    <insert id="saveAboutMe" parameterType="com.soop.jwtsecurity.entityDTO.UserEntity">-->
<!--        INSERT INTO LINKBEE_USER-->
<!--        (-->
<!--        ABOUTME-->
<!--        )-->
<!--        values-->
<!--        (-->
<!--        #{aboutMe}-->
<!--        )-->
<!--    </insert>-->

<!--    <insert id="googleGender" parameterType="com.soop.jwtsecurity.entityDTO.UserEntity">-->
<!--        INSERT INTO LINKBEE_USER-->
<!--        (-->
<!--        ABOUTME-->
<!--        )-->
<!--        GENDER-->
<!--        (-->
<!--        #{gender}-->
<!--        )-->
<!--    </insert>-->



    <insert id="saveUserEntity" parameterType="com.soop.jwtsecurity.entityDTO.UserEntity">
        INSERT INTO LINKBEE_USER
        (
        NICKNAME,
        EMAIL,
        GENDER,
        PROFILE_PIC,
        ABOUTME,
        USER_ROLE,
        SIGNUP_DATE,
        SIGNUP_PLATFORM
        )
        values
        (
        #{nickName},
        #{email},
        #{gender},
        #{profilePic},
        #{aboutMe},
        #{userRole},
        #{signupDate},
        #{signupPlatform}
        )
    </insert>

    <insert id="saveRefreshEntity" parameterType="com.soop.jwtsecurity.entityDTO.RefreshEntity">

        INSERT INTO REFRESHENTITY (SIGNUP_PLATFORM, REFRESH, EXPIRATION)
        VALUES
            (
            #{signupPlatform},
            #{refresh},
            #{expiration}
            )
            ON DUPLICATE KEY UPDATE
            REFRESH = VALUES(refresh),
        EXPIRATION = VALUES(expiration);
    </insert>

    <select id="searchRefreshEntity" parameterType="com.soop.jwtsecurity.entityDTO.RefreshEntity">
        select
                A.REFRESH
            from REFRESHENTITY A
            join LINKBEE_USER B on A.SIGNUP_PLATFORM = B.SIGNUP_PLATFORM
        where A.SIGNUP_PLATFORM = #{signupPlatform}
    </select>

    <select id="existsByRefresh" parameterType="String" resultType="Boolean">
        select
            case when count(*) > 0 then true else false end
            from REFRESHENTITY
        where REFRESH = #{refresh}
    </select>

    <delete id="deleteByRefresh" parameterType="com.soop.jwtsecurity.entityDTO.RefreshEntity">
        delete from REFRESHENTITY
        where REFRESH = #{refresh}
    </delete>

    <update id="saveAboutMe" parameterType="com.soop.jwtsecurity.entityDTO.UserEntity">
        update linkbee_user
        set ABOUTME = #{aboutme},
            NICKNAME = #{nickname}
        where SIGNUP_PLATFORM = #{signupPlatform};
    </update>

<!--    <insert id="">-->
<!--        -->
<!--    </insert>-->

<!--    <update id="saveNickName" parameterType="com.soop.jwtsecurity.entityDTO.UserEntity">-->
<!--        update linkbee_user-->
<!--        set NICKNAME = #{nickName}-->
<!--        where SIGNUP_PLATFORM = #{signupPlatform};-->
<!--    </update>-->

</mapper>
