/* src/pages/Error/ErrorPage.css */
.container {
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 
    
  }
  
  .container img {
    width: 200px;
  }
  
  .container p {
    color: #FFB755;
    margin: 20px;
  }
  
  .container button {
    background-color: #FFB755;
    color: white;
    border: #FFB755;
    border-radius: 20px;
    width: 90px;
    height: 48px;
    font-size: 16px;
    cursor: pointer;
    

  }
  